body {
   margin: 0px;
   background-image: url(../img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: Verdana;
}

header{
    background-color:rgba(0,0,0,0.4);
    height: 55px;
}


.header-logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 17px 0px 0px 80px;
    float: left;
}   

.header-logo:hover {
    color: #3cb878;
    transition: all 500ms; 
}


.box-sprite {
   margin-left: 650px;
   padding-top: 16px;
   float: left;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-right: 28px;
}

.sprite:last-child {
    margin-right: 0px;
}

.sprite-1 {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    float: left;
}

.sprite-1:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-2 {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
    float: left;
}

.sprite-2:hover {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
}

.sprite-3 {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
    float: left;
}

.sprite-3:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}



.header-text {
    color: #ffffff;
    font-size: 14px;
    padding: 20px 75px 0px 0px;
    text-align: right;
}

.header-link {
    color: #3cb878;
    text-decoration: none;
    text-align: right;
}

.header-link:hover {
    text-decoration: underline;
    transition: all 500ms; 
}

main {
    min-height: 100%;
    width: 100%;
}

.authorization {
    height: 585px;
    width: 445px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 42px));;
}

.authorization-greensquare {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
}

.authorization-box {
    height: 525px;
    width: 322px;
    position: absolute;
    top: 30px;
    left: 62px;
}

.authorization-box-signup {
    font-size: 20px;
    color:  #434343;
    float: left;
    width: 275px;
    margin-bottom: 15px;
}

.authorization-box-link {
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
}

.authorization-box-link:hover {
    text-decoration: underline;
    transition: all 500ms; 
}

.link-Facebook {
    height: 45px;
    width: 156px;
    background-color: #305db8;
    color: #cad2e9;
    margin-right: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 16px;
    float: left;
    border-radius: 5px;
}

.link-Google {
    display: inline-block;
    height: 45px;
    width: 156px;
    color: #cad2e9;
    background-color: #df4a32;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.link-Facebook-logo {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    float: left;
    height: 25px;
    width: 30px;
    border-right: 1px solid #2b54a5;
    margin: 10px 14px 0px 20px;
    padding-top: 3px;
}

.link-Google-logo {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    float: left;
    height: 25px;
    width: 30px;
    border-right: 1px solid #c8422d;
    margin: 10px 16px 0px 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.link-FacebookGoogle-text {
    padding-top: 15px;
}

.authorization-or {
    color:  #848484;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    width: 322px;
    overflow: hidden;
}

.authorization-or:before,
.authorization-or:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #eaeaea;
  border: solid #FFF;
  border-width: 0 15px;
}

.authorization-or:before {
    margin-left: -100%;
}

.authorization-or:after {
    margin-right: -100%;
}

.input {
    height: 45px;
    width: 322px;
    border-radius: 5px; 
}

.input-text {
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
    width: 300px !important;
    padding-left: 20px;
    outline:none;
}

.input-text:focus {
    color: #434343;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.input-submit {
    border: 0px;
    background-color: #3cb878;
    text-align: center;
}

.input-chekbox {
    display: none;
}

.input-chekbox + label:before {
    content: "\2714";
    display: inline-block;
    border: 1px solid #eaeaea;
    color: #ffffff;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    margin: 17px 0px 24px 0px;
}

.input-chekbox:checked + label:before {
    color: #3cb878;
    
}

label {
    font-size: 14px;
}

.greenlabel {
    color: #3cb878;
    display: inline-block;
    font-size: 14px;
}

.greenlabel:hover {
    text-decoration: underline;
    transition: all 500ms; 
}