.container {
    width: 1280px;
    margin: 0 auto;
}

.logo-link {
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    font-family: 'Myriad Pro';
    display: inline-block;
    margin: 60px 0px 50px 0px;
}

.logo-link-color {
    color: #4bcaff;
    display: inline-block;
    font-size: 80px;
    font-family: 'Myriad Pro';
}

.header-menu {
    background-color: #35444f;
    text-align:  center;
}

.header-menu-link {
    background-color: #35444f;
    color: white;
    display: inline-block;
    font-size: 25px;
    font-family: 'Myriad Pro', sans-serif;
    border: 0;
    padding: 21.5px 30px 21.5px 30px;
    text-decoration: none;
    border: 1px solid transparent;
}

.header-menu-link:hover {
    border: 1px solid white;
    background-color: #222f3a;
    transition-duration: 0.3s; 
}

.main-navbar {
    height: 400px;
    width: 350px;
    border: 1px solid #35444f;
    margin-top: 50px;
    float: left;
    overflow: hidden;
}

.main-navbar-link {
    display: inline-block;
    width: 349px;
    font-size: 27px;
    font-family: 'Myriad Pro', sans-serif;
    border: 0;
    padding: 0px;
    color: #35444f;
    padding: 27px 0px 27px 45px;
    text-align: left;
    text-decoration: none;
}

.main-navbar-link:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 70px;
    width: 279px;
    transition-duration: 0.3s; 
} 

.block-img {
    display: inline-block;
    width: 885px;
    height: 530px;
    border: 1px solid #35444f;
    margin: 50px 0px 0px 40px;
    text-align: center;
}

.img{
    margin-top: 75px;
}

.img:hover{
    transition: 0.5s;
    transform: scale(1.1);
    margin-top: 65px;
}

.main-textru {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Myriad Pro', sans-serif;
    padding: 50px 35px 0px 415px;
    color: #434343;
}

.main-texteng {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Myriad Pro', sans-serif;
    padding: 40px 35px 50px 415px;
    color: #434343;
}


footer {
    background-color: #b4b7ba;
}

.footer-nav {
    font-size: 27px;
    font-family: 'Myriad Pro', sans-serif;
    margin: 22px 0px 22px 30px;
    display: inline-block;
}

.footer-nav-link {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.footer-nav-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
    transition-duration: 0.3s; 
}

.copyright {
    font-size: 25px;
    font-family: 'Myriad Pro', sans-serif;
    color: #010000;
    display: inline-block;
    margin-left: 170px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }