
.block {
    width: 1280px;
    margin: auto;
    font-family: 'Roboto';
}

.navbar {
 background: #ffffff;
 width: 1280px;
 height: 80px;
 text-align: center;
}

.navbar-link {
 text-decoration: none;
 color: #16a085;
 font-size: 22px;
 font-weight: 900;
 margin-right: 70px;
 display: inline-block;
 margin-top: 30px;
}

.navbar-link:last-child {
    margin-right: 0px;
}


.main {
    background: #f5f6ff;
    width: 1280px;
    height: 1460px;
}


#headertext1 {
 margin: 50px 0px 20px 0px;
 color:  #373737;
 font-size: 22px;
 font-weight: 900;
 text-align: center;
}

#headertext2 {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 1080px;
}

#headertext3 {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 1080px;
}

.button {
    width: 190px;
    display: inline-block;
    background-color: #16a085;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'GothamRounded';
    position: relative;
    left: 50%;
    transform: translate( -50%);
    margin-top: 45px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 3px;
}


.footer {
    background: #ffffff;
    width: 1280px;
    max-height: 100px;
}

.footertext {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    margin: 40px 100px 40px 0px;
}
